.navbar {
    font-size: 24px;
    color: gold;
}

.navbar a {
    color: gold;
    text-decoration: none;
}

.navbar button {
    background-color: gold;
    color: black;
}

.navBarLinks {
    font-size: xx-large;
    padding: 50px;
}